
body {
 background-color: #d3b37a;
 background-image: url('../for_logo/photo_2019-07-04_22-36-51.jpg');
 /* background-size: 100% 100%; */
  background-repeat: no-repeat;
  background-attachment: fixed;
  background-position: top;
  color: #ffffff;
}
.border {
	border:2px solid #ccc;
	background-color: #777;
	padding-top: 20px;
}
.header {
	height: 237px;
	background-image: url('../for_logo/photo_2019-07-04_22-36-51.jpg');
	 background-repeat: no-repeat;
  background-attachment: fixed;
  background-position: top;
  text-align: center;
  padding-top: 10px;


}
nav {
	width: 100%;
	text-align: left;
	margin-top: 15px;
	display: flex;
	flex-wrap:wrap;
}
.masters_phone {
		background-color: rgba(230, 183, 76, 0.1);
	padding: 10px;
	color:white;
	display: flex;
	flex-direction: column;
	justify-content: center;
	
}
.logo{
	width: 150px;
	height: 100px;
margin: 10px;
background:  url(../for_logo/01011993_resize.JPG.jpg) no-repeat;
background-size: 100%;
font-weight: bold;
display: flex;
justify-content: center;
font-size: 20px;
flex-direction: column;
  text-align: center;
  border-radius: 5px;
}
.logo a {
	text-decoration: none;
	color: white;
}
.wrap_img {
	width: 100%;
	
	border-bottom:  1px solid grey;
	padding: 10px;
	display: flex;
    justify-content: center;
    flex-direction: column;
    align-items: center;
}
.even {
	background-color: #e6b74c;

}
.odd {
	background-color:#e3c786;
}
.img_this {
	cursor: pointer;
}
.contents {
	text-align: center;
}
.modal_window{
	color: black;
	background-color:#e3c786;
}
.description_this_img {
	color:black;
	text-align: left;
	max-width: 500px;
	
}
#maximg {
position:absolute;
display:none;
cursor: pointer;
z-index: 1;
}
#maximgX{
	top:10px;
	font-size: 35px;
	color:rgba(217, 158, 22, 1);

	}
#panelupr{
position:fixed;
display:none;
background-color:rgba(217, 158, 22, 0.9);
padding:10px;
font-weight:bold;
z-index: 1;
}
.strelki{
font-size:100px !important;
padding-left: 5px;
cursor: pointer;
}
#close_all_panel {
	position: absolute;
	top:-5px;
	right: 0;
	cursor: pointer;
}
#fon_maximg{
	display: none;
	position: fixed;
	width: 100%;
	height: 100%;
	left:0;
	top:0;
	background-color: rgba(0, 0, 0, 0.8);
	z-index: 0;
}

/* для админки */
.admin_main_info {
	margin: 20px;
	border:1px solid brown;
	max-width: 700px;
}
.wrap_textarea_main_info{
    text-align: center;
    color: black;
}
.button_for_main_info {
		
}
.text_in_modal_for_admin{
	margin: 8px;
	color:black;
	font-size: 1em;
}


@media screen and (max-width: 610px) {
	.header {
		-webkit-height: 311px;
		-moz-height: 311px;
		height: 311px;
	}
}